* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  position: relative;
}

a {
  text-decoration: none;
}

.hero-bg-video {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -999;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6vw;
  height: 24vh;
}

.header-logo {
  width: 128px;
}

nav {
  display: flex;
  gap: 28px;
}

nav a {
  color: #030930;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: #bf46a2;
}

.visit-store {
  padding: 14px 30px;
  background-color: white;
  border-radius: 16px;
  font-weight: bold;
  color: #030930;
  transition: all 0.2s ease-in-out;
}

.visit-store:hover {
  background: linear-gradient(160deg, #6c1eb2, #d14fa0);
  color: white;
}

.knowledge-base-link i {
  transition: rotate 0.2s ease-in-out;
}

.knowledge-base-link:hover i {
  rotate: 180deg;
}

.knowledge-base-link {
  position: relative;
}

.knowledge-base-link:hover .knowledge-base-container {
  display: block;
}

.knowledge-base-container {
  position: absolute;
  height: 170px;
  width: 200px;
  border: 2px solid #cfe2ff;
  border-radius: 8px;
  background-color: white;
  display: none;
  top: 18px;
}

.knowledge-base-container p{
  position: relative;
  top: 20px;
  left: 20px;
  color: #030930;
  line-height: 40px;
}

/* hero secrtion */

main {
  height: 76vh;
  padding: 0 6vw;
  box-shadow: inset 0px -120px 30px -60px white;
}

main h1 {
  padding-top: 80px;
  font-size: 48px;
  color: #030930;
}

main p {
  padding-top: 10px;
  opacity: 0.7;
}

.search-container {
  display: flex;
  justify-content: center;
}
.search-container div {
  background-color: #030930;
  padding: 16px;
  border-radius: 40px;
  color: #bababa;
}

.search-container input {
  background-color: #030930;
  border: none;
  outline: none;
  color: white;
}

.search-container input::placeholder {
  font-weight: bold;
  color: #bababa;
}

/* category section */

.category-section {
  text-align: center;
  height: 100vh;
  margin: 40px 0;
}

.category-section h2 {
  font-size: 40px;
  color: #030930;
  padding-bottom: 20px;
}

.category-section p {
  color: #bababa;
}

.categories-container {
  padding-top: 32px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.category-card {
  width: 30%;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  box-shadow: inset 0px -150px 50px 0px white;
}

.category-card p {
  font-size: 28px;
  color: #030930;
  font-weight: bold;
  padding-bottom: 10px;
}

.category-card a {
  color: white;
  background-color: #030930;
  padding: 12px 30px;
  border-radius: 8px;
  width: max-content;
}

.category-card video {
  width: 100%;
  z-index: -99;
}


/* List Section */


.list-section{
  text-align: center;
  margin-top: 120px;
  font-size: 50px;
  color: #030930;
  
}

.list-container{
  display: flex;
  margin-top: 40px;
  padding: 0 6vw;
  gap: 20px;
  color: #030930;

}
.child{
  width:300px;
  height: 180px;
  border: 3px solid rgb(213, 236, 255); 
  border-radius: 13px;
  background-color: rgb(245, 246, 247);

  
}


.list-container img{
  width:50px;
  margin-left: 20px;
  margin-top: 20px;
}

.list-container p{
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.list-container h1{
  margin-left: 20px;
  margin-top: 10px;
  font-size: 25px;
}


.box-container{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
  
}
.box{
  width: 80px;
  height: 80px;
  border: 3px solid rgb(213, 236, 255);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:hover{
  background-color:rgb(213, 236, 255) ;
}


/* VIDEO   */
.abc{
  display: flex;
  justify-content: center;
  margin-top: 120px;   
  margin-bottom: 20px;
}

.vdo-box{
  position: relative;     
  width: 350px;
  height: 130px;
  border: 3px solid rgb(234, 234, 234);
  border-radius: 100px;
  overflow: hidden;         
}


.vdo-box video{
  width: 100%;
  height: 100%;
  object-fit: cover;        /* fills the box */
}



/* What is AICM  */
.aicm-container{
  padding: 0 6vw;
  text-align: center;
  margin-bottom: 150px;
  
}

.aicm-container h1{
  color: #030930;
  font-size: 60px;
  margin-bottom: 10px;
}

.aicm-container p{
  color: rgb(108, 108, 109);;
  font-size: 18px;
  line-height: 1.43em;
}

.box-whitepaper{
  display: flex;  
  justify-content: center;
  margin-top: 15px;
  
}
.box1{
  width:180px;
  height: 60px;
  border: 2px solid rgb(199, 227, 251);
  border-radius: 12px;
  display: flex;
  margin-top: 20px;
  
}
.box1 p{
  padding: 20px;
  color: rgb(6, 10, 37);;
  font-size: 18px;
}

.box-audits{
  padding: 0 6vw;
}

.box2{
  width: 100%;
  height: 60vh;
background-color: rgb(245, 245, 245);
  padding-left: 30px;
  display: flex;
  gap: 250px;
}
.box2 h1{
  font-size: 60px;
  color: #030930;
  padding-top: 50px;
  margin-bottom: 120px;
  
}
.box2 h3{
  color: rgb(53, 51, 51);
}

.auditlogo{
  width: 300px;
}
.kyc{
  width: 150px;
}

/* Copy Container */
.copy-container{
  padding:0 6vw;
  margin-top: 180px;
 
  
}

.copy-box{
  padding: 0 5px;
  height: 40px;
  width: 180px;
  border: 3px solid rgb(248, 243, 243);
  display: flex;
  text-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);

}

/* Token Container */
.token-container{
  display: flex;
  padding: 0 6vw;
  margin-top: 20px;
  gap: 120px;
}

.token-container h1{
  font-size: 60px;
  margin-bottom: 20px;
  
}

.token-container h3{
  color: #6d6d6d;
}

.box-parent{
  display: grid;
  grid-template-columns: repeat(2, minmax(180px, 1fr));
  gap: 16px;
  max-width: 520px; 
 
}
.token-box{
 height: 64px;              
  background: #f5f9ff;
  border: 2px solid #cfe2ff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;

}
.token2{
  width: 150px;
}

.roadmap-container{
  text-align: center;
  margin-top: 140px;
  
}

.roadmap-container h1{
  font-size: 60px;
  margin-bottom: 30px;
}

.roadmap-container h3{
  color: #757577;
  line-height: 30px;
  margin-bottom: 40px;
}

.roadmap-box{
  display: flex;
  justify-content: center;
  padding: 0 6vw;
  gap: 20px;
}

.roadmap-box p{
  border: 3px solid rgb(227, 230, 234);
  background-color: rgb(227, 230, 234);
  padding: 10px 20px;
  border-radius: 10px;
}

.eco-container{
   padding: 0 6vw;
  display: flex; 
  margin-top: 140px; 
  justify-content: space-between;
 } 
 .eco-container h1{ 
  font-size: 45px; 
} 
.eco-container p{ 
  font-size: 20px; 
  color: #7a7a7d;
} 
.q2{ 
  margin-top: 100px; 
}
.q3{ 
  margin-top: 55px; 
  
}
.q4{
color: #7a7a7d;
}



.q2box{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 60px;
  padding: 30px;
  margin-top: 100px;
  
}
.lbox{
  background: #f1f8fd;
  height: 65px;
  border-radius: 12px;
  border: 3px solid #c7e3fb;
}
.col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.col1{
  margin-top: 80px;
}

.col2{
  margin-top: 50px;
}

.l1, .l2{
  display: flex;
  padding: 10px;
  width: 300px;
  gap: 10px;
}
.l3{
  display: flex;
  padding: 10px;
}
.l4{
  width: 350px;
  display: flex;
  padding: 10px;
}

.l5,.l6,.l7{
  height: 80px;
}
.l8{
  width: 300px;
}
.l9{
  height: 90px;
}
.l10{
  width: 300px;
  height: 140px;
}

.l11,.l12,.l14,.l15,.l16,.l17,.l18{
  height: 90px;
}
.l13{
  height: 110px;
}

.l1 p{
  gap: 10px;
  padding: 10px;
  color: #191919;
}


